.THIS.slds-carousel{
    background: rgba(0,0,0,0.4);
}
.THIS .slds-carousel__stage{
    max-height: 20rem;
}
.THIS .slds-carousel__indicator{
    margin: 0 0.75rem;
}
.THIS .slds-carousel__indicators{
    position: relative;
}
.THIS .slds-carousel__indicator .slds-button_neutral{
    padding-left: 0;
    padding-right: 0;
}
.THIS .slds-carousel__indicator-action{
    width: 1rem;
    height: 1rem;
    background-color: #4F696E;
    border-color: #4F696E;
}
.THIS .slds-carousel__indicator-action.slds-is-active{
    top: -0.25rem;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #FFFFFF;
    border-color: #ffffff;
}

.THIS .sliderSize{
    width: 60%;
    height: 20rem;
}
.THIS .slds-carousel__image>img{
    width: 100%;
}
.THIS .overlaySlider{
    display: block;
    color: #fff;
    position: relative;
    width: 60%;
    height: 45%;
    top: 33%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 2;
    cursor: pointer;
}
.THIS .align-right{
    position: absolute;
    right: 2%;
    bottom: 6%;	
}

.THIS .re-titleSize{
    line-height: 1;
    font-size : 58px;
}
.THIS .slideText{
    font-weight: 600;
    width: 80%;
    font-size: 1.1rem;
    height:3rem;
}

.THIS .custom-transform{
    transform : var(--box-change);
}